// $backgroundColor = #272822
// $foregroundColor = #F8F8F2
$backgroundColor = #F3F3F3
$foregroundColor = #777777
$hoverColor = #606c76;

$honkaiColor = #62eaf5
// $liliyaBlue = #0275d8
$liliyaBlue = #2E7FFD
$liliyaBlueLight = #00ccff
// $rozaliyarozaRed = #ff3311
$rozaliyaRed = #fe4678
$rozaliyaRedLight = #ffaacc
// FE4678
// override default colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$nprogressColor = $rozaliyaRed
