// $backgroundColor = #272822
// $foregroundColor = #F8F8F2
$backgroundColor = #fefefe
$foregroundColor = #24292e
$hoverColor = #606c76
$white =#FFFFFF 

$honkaiColor = #62eaf5
// $liliyaBlue = #0275d8
$liliyaBlue = #1E76FA
$liliyaBlueLight =  #01CCFF
// $rozaliyarozaRed = #ff3311
$rozaliyaRed = #fe4678
$rozaliyaRedLight = #FF5297

// override default colors
$accentColor = $rozaliyaRed
$textColor = $foregroundColor
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$nprogressColor = $rozaliyaRed
